#headshot {
    height: 400px;
    width: 33%;
    float: right;
}

#game-div {
    text-align: center;
}

@media screen and (min-width: 1025px) {
    #headshot {
        width: 27%;;
    }

}

@media screen and (max-width: 768px){
    #headshot {
        display: none;
    }
    #that-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}